/* style.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.slider-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.mySlides {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;